* {box-sizing: border-box;}
#wrapper {
    background-color: lightblue;
    margin: auto;
    width: 100%;
}

.menu-left ul, .menu-right ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu-left ul li, .menu-right ul li{
    padding: 16px 10px;
}
.menu-left ul li a, .menu-right ul li a{
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
}

body{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

    
